<div 
    class="bg-slate-50 rounded drop-shadow w-full p-4 relative 
        flex flex-row items-center gap-4"
>
    @if (state === "small") {
        <div 
            class="basis-1/4 h-full aspect-square bg-[{{selectedColor}}]"
            style="mask-image: url('{{icon}}'); mask-repeat: no-repeat; mask-size: contain;"
        >
        </div>
    } @else {
        <div 
            class="h-full aspect-square opacity-10 absolute right-0 bg-[{{selectedColor}}]"
            style="mask-image: url('/assets/logo/coronavirus.png'); mask-repeat: no-repeat; mask-size: contain;"
        >
        </div>
    }

    <div class="w-full z-10">
        <p class="mb-2 font-medium">{{cardTitle}}</p>

        @if (state === "big") {
            <hr class="border-[1px] border-slate-600/10">
        }

        <p 
            class="mt-2 font-black text-xl 
            {{state === 'big' ? 'text-[' + selectedColor + ']' : ''}}"
        >
            {{cardNumber}}
        </p>

    </div>
</div>