<div class="relative inline-block text-left w-full max-w-[308px] mb-4">
    <div>
        <button 
            type="button" 
            class="inline-flex w-full justify-between gap-x-1.5 rounded bg-slate-50 px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" 
            id="menu-button"   
            aria-expanded="true" 
            aria-haspopup="true"
            (click)="toggleMenu()"
        >
            {{ country }}
            <svg 
                class="-mr-1 h-5 w-5 text-gray-400 transition-transform"
                [class.rotate-180]="toggle" 
                viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
            >
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
        </button>
    </div>
  

    <div class="absolute h-[252px] overflow-y-scroll right-0 z-10 w-full origin-top-right divide-y divide-slate-50 rounded bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" 
        [class.hidden]="!toggle"
        role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
            @for (country of countries.getCountries(); track $index) {
                <div class="py-1 hover:bg-slate-100 cursor-pointer" role="none">
                    <div 
                        class="text-gray-700 block px-4 py-2 text-sm" 
                        role="menuitem" 
                        tabindex="-1" 
                        id="{{$index}}"
                        (click)="selectedCountry(country)"
                    >
                        {{ country }}
                    </div>
                </div>
            }
    </div>
  </div>
  