@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .cardMask {
        mask-repeat: no-repeat;
        mask-size: contain;
        aspect-ratio: 1/1;
    }

    .cardFlag {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        aspect-ratio: 16/9;

        border: 1px solid silver;
    }
}