<app-search-input />

<div class="flex flex-col gap-4 max-w-[1280px]
    md:flex-row md:flex-wrap">
    <app-card class="md:w-[calc(50%-8px)]" 
        [color]="'blue'" [state]="'big'" [cardTitle]="'Total Cases'" [cardNumber]="cases?.cases" 
    />

    <app-card class="md:w-[calc(50%-8px)]" 
        [color]="'red'" [state]="'big'" [cardTitle]="'Total Deaths'" [cardNumber]="cases?.deaths" 
    />

    <app-card class="md:w-[calc(50%-8px)]" 
        [color]="'green'" [state]="'big'" [cardTitle]="'Total Recovered'" [cardNumber]="cases?.recovered" 
    />

    <app-card class="md:w-[calc(50%-8px)]" 
        [color]="'sky'" [state]="'big'" [cardTitle]="'Total Active'" [cardNumber]="cases?.active" 
    />

    <app-card class="md:w-[calc(50%-8px)]" 
        [color]="'orange'" [state]="'big'" [cardTitle]="'New Cases'" [cardNumber]="cases?.todayCases" 
    />

    <app-card class="md:w-[calc(50%-8px)]" 
        [color]="'brown'" [state]="'big'" [cardTitle]="'New Deaths'" [cardNumber]="cases?.todayDeaths" 
    />
</div>

<div class="my-4"></div>

<div class="flex flex-col gap-4 max-w-[1280px]
    md:flex-row md:flex-wrap">
    <app-card class="md:w-[calc(50%-8px)] lg:flex-1" 
        [color]="'blue'" [state]="'small'" [cardTitle]="'Total Confirmed'" [cardNumber]="globalCases?.cases" />

    <app-card class="md:w-[calc(50%-8px)] lg:flex-1" 
        [color]="'green'" [state]="'small'" [cardTitle]="'Total Recovered'" [cardNumber]="globalCases?.recovered" />

    <app-card class="md:w-[calc(50%-8px)] lg:flex-1" 
        [color]="'red'" [state]="'small'" [cardTitle]="'Total Deaths'" [cardNumber]="globalCases?.deaths" />

    <app-card class="md:w-[calc(50%-8px)] lg:flex-1"
        [color]="'brown'" [state]="'small'" [cardTitle]="'Active'" [cardNumber]="globalCases?.active" />

</div>
